.hero {
  background-color: $hero-color;
  height: 110vh;
  padding: 0 80px;
  @include flexbox();
  .content {
    padding-top: 90px;
    position: relative;
    z-index: 2;
    // width: 50%;
    row-gap: 50px;
    h3 {
      font-family: $font-family;
      font-size: 18px;
      font-weight: 700;
    }
    h1 {
      font-family: $font-family;
      font-size: 64px;
      font-weight: 700;
      position: relative;
      z-index: 5;
    }
    p {
      font-family: $font-family;
      font-size: 24px;
    }
    img {
      position: absolute;
      top: 55px;
      right: -80px;
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
    button {
      border: transparent;
      border-radius: 8px;
      padding: $buttonpad;
      a {
        text-decoration: none;
        font-family: $font-family;
        font-size: 18px;
      }
    }
    .sign {
      background-color: $color-dark;
      a {
        color: $text-light;
      }
    }
    .learn-more {
      background-color: transparent;
      border: 1px solid rgb(235, 235, 235);
      a {
        color: $color-dark;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
  }
}
